.library_mapping.xml
.project
.settings

# Ignore the obj_dir folder
obj_dir/

# Ignore the trace.vcd file
trace.vcd

# Ignore test FSM verilog file
test.sv
project/dramsim2/
project/outputs/
project/tests/
project/proj_prog1.txt